/*
    Google Fonts import for Ubuntu
*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400&display=swap');

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
::after,
::before {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
canvas,
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
button,
input,
select,
textarea {
  font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

/* 
    Global Styles
*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

* {
  font-family: 'Ubuntu', sans-serif;
}

:root {
  --primary-color: #009dc4;
  --secondary-color: #5cff67;
}

.autoshow {
  animation: autoshowAnimation both;
  animation-timeline: view(40% 15%);
}

@keyframes autoshowAnimation {
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@media screen and (min-width: 768px) {
  .reverse-md {
    flex-direction: row-reverse;
  }
}

.btn-primary {
  background-color: var(--primary-color);
  border: none;
}

/*
  iOS hack to fix the background-attachment: fixed issue
  https://webers-testseite.de/donkey/
*/
.bg-fixed {
  background-size: 0px !important;
  overflow: hidden;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.bg-fixed:before {
  background-image: inherit !important;
  background-repeat: inherit !important;
  background-size: cover;
  background-position: inherit;
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1 !important;
  pointer-events: none;
  /*** if more than one is handled - very performance intensive 
  will-change: transform;  ***/
}

.card-footer {
  background-color: initial;
  border: none;
}


@media screen and (min-width: 768px) {
  .card h2 {
    min-height: 80px;
  }
}

.card p {
  padding: 1rem 0 0 0;
}

.color-primary {
  color: var(--primary-color);
}

/*
  Navbar Socials styles
*/

.nav-socials {
  display: flex;
  align-items: center;
}

.nav-socials a {
  margin-right: 0.5rem;
  color: rgba(255, 255, 255, 0.55);
  padding: 0.5rem;
}

.nav-socials a:hover {
  color: rgba(255, 255, 255, 0.75);
}

@media(min-width: 768px){
  .nav-socials {
    margin-left: 1rem;
  }
}

/*
    Homepage Slider Styles
*/

.carousel-item {
  min-height: 500px;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 75%;
}

.carousel-item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.carousel-item > * {
  position: relative;
  z-index: 2;
  color: #fff;
}

.carousel-item .container {
  height: 100%;
}

.carousel-item .container h2 {
  margin-top: 100px;
  line-height: 1.5;
  margin-bottom: 15px;
  width: 70%;
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-color);
}

.carousel-item .container p {
  width: 50%;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 35px;
}

.slide_1 {
  /* Image source https://unsplash.com/photos/a-fish-that-is-swimming-in-a-tank-HHJmF9Gtd78 */
  background-image: url('img/bg-images/blue-fish.webp');
  background-position: 50% 50%;
}

.slide_2 {
  /* Image Source https://unsplash.com/photos/blue-and-red-butterfly-on-green-plant-D6JnQr-HYd8 */
  background-image: url('img/bg-images/betta-in-elodea.webp');
  background-position: 50% 35%;
}

.slide_3 {
  /* Image Source https://unsplash.com/photos/orange-koi-fish-on-body-of-water-S5RwcwBS2lQ */
  background-image: url('img/bg-images/fish-in-pond.webp');
  background-position: 50% 60%;
}

@media screen and (max-width: 768px) {
  .carousel-item .container h2 {
    font-size: 1.5rem;
  }

  .carousel-item .container p {
    width: 80%;
    font-size: 0.8rem;
  }
}

/*
    Brand Slider Styles
*/

.brand-slider {
  margin-top: 3rem;
  width: 100%;
  height: 100px;
  mask-image: linear-gradient(to right, transparent, #000, transparent);
  max-width: 100vw;
  overflow-x: hidden;
}
.brand-slider .list {
  display: flex;
  width: 100%;
  min-width: 1200px;
  position: relative;
  overflow: hidden;
  height: 100px;
}

.brand-slider .list .item {
  width: 200px;
  height: 100px;
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  animation-delay: calc((10s / 6) * (var(--position)));
}

.brand-slider .list .item img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: -100px;
  }
}

@media screen and (max-width: 768px) {
  .brand-slider .list {
    min-width: 600px;
  }
  .brand-slider .list .item {
    width: 100px;
    height: 50px;
  }
}

/*
    Services Styles
*/

.services h3 {
  color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .services {
    text-align: center;
  }

  .services h3 {
    padding-top: 1rem;
  }

  .services p {
    padding-bottom: 1rem;
  }
}

/*
    Call to Action Styles
*/

.cta {
  background-image: url('img/bg-images/betta-flare.webp');
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  position: relative;
  color: #fff;
}

.cta:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.cta > * {
  position: relative;
  z-index: 2;
}

.cta h2 {
  font-weight: 900;
}

.cta p {
  font-weight: 500;
}

.cta span {
  font-weight: 700;
  color: var(--primary-color);
}

/*
    Contact Section
*/

.contact-section {
  position: relative;
}

.contact-section h2 {
  color: var(--primary-color);
}

.responsive-iframe {
  width: 50vw;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.contact-section .contact-form input {
  margin-bottom: 1rem;
}

.contact-section .contact-form input,
.contact-section .contact-form label {
  display: block;
  width: 100%;
}

.contact-section .contact-form input[type=textarea] {
  width: 100%;
  min-height: 200px;
}

.contact-form p span {
  display: block;
  font-weight: 100;
}

.contact-section .contact-radios input, .contact-section .contact-radios label {
  display: inline-block;
  max-width: 50px;
}

.contact-section input[type="submit"] {
  background-color: var(--primary-color);
  padding: 0.5rem 1.5rem;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  font-size: 1.25rem;
  border-radius: .3rem;
  line-height: 1.5;
  text-decoration: none;
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
  font: inheret;
}

.contact-section input[type="submit"]:hover {
  background-color: #0b5ed7;
}

@media screen and (max-width: 768px) {
  .contact-section .container {
    padding: 0;
  }
  .contact-section .w-50 {
    width: 100% !important;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .responsive-iframe {
    position: relative;
    width: 100%;
    height: 400px;
  }
}


/*
    Footer Styles
*/

footer {
  background-color: var(--primary-color);
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
}

footer p {
  margin: 0;
}


/*
    About Us Styles
*/

.about-us-header {
  background: center / cover no-repeat url("img/bg-images/betta-in-elodea.webp");
  position: relative;
  padding-top: 4rem;
  padding-bottom: 10rem;;
}

.about-us-header:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  z-index: 1;
}

.about-us-header > * {
  position: relative;
  z-index: 2;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .about-us {
    text-align: center;
  }
}

.items-icon {
  font-size: 32px;
  color: var(--primary-color);
}